@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html, button, input {
    font-family: Quicksand;
}

button {
    cursor: pointer;
}

body {
    width: 1040px;

    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

h1 {
    margin: 0;

    font-size:38px;
}

/*
--------------index
 */

.header-heading {
    margin: 0;

    font-size: 32px;
    font-weight: bold;
}

.styled-btn {
    width: 170px;
    height: 50px;
    padding: 12px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ff3f34;
    border: none;
    border-radius: 16px;

    font-weight: bold;
    font-size: 18px;

    transition: .3s;
}

.add-post {
    width: 150px;
    height: 45px;

    margin-top: 15px;

    color: white;
    background: #05c46b;
}

.add-post:hover {
    background: rgba(5, 196, 107, 0.87) !important;
}

.styled-btn:hover {
    background: rgba(255, 63, 52, 0.87);
    border-radius: 20px;
}

.posts-section {
    margin-top: 85px;
}

.posts-container-fomin {
    margin-top: 45px;
}

.post-fomin {
    width: 840px;

    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 18px;

    box-shadow: 0 0 20px 1px rgba(34, 60, 80, 0.2);

    transition: .3s;
}

.post-fomin:hover {
    box-shadow: 0 0 20px 1px rgba(34, 60, 80, 0.3);
}

.post-fomin p {
    margin: 0;
}

.post-title-fomin {
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 15px !important;
}

.post-text-fomin {
    font-size: 18px;

    margin-bottom: 30px !important;

    color: rgba(0,0,0,0.70);
}

.post-author {
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,0.85);
}

.post-author-container {
    width: 250px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

/*
--------------login
 */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 268px;

    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.login-form input {
    width: 268px;
    height: 45px;
}

label {
    width: 268px;
    margin-bottom: 25px;

    display: block;

    font-size: 21px;
    font-weight: bold;

    color: #444444;
}

input {
    width: 250px;
    height: 25px;

    margin-top: 6px;
    padding: 9px 0 9px 16px;

    font-size: 18px;

    background: #d3d3d3;
    color: #2d2d2d;
    outline: none;

    border: 1px solid #CED4DA;
    border-radius: 4px;

    transition: .3s;
}

input:focus {
    background: #e3e3e3;

    border-radius: 16px;
}

button[type=submit] {
    font-family: Quicksand !important;
}

.login-heading {
    display: flex;
    align-items: center;

    margin-top: 50px;
}

.login-heading svg {
    margin-right: 15px;
}

.login {
    width: 200px;

    margin-top: 60px;

    font-size: 22px;

    align-self: center;
}

/*
--------------registration
 */

.registration-form {
    width: 600px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.surename-box, .forename-box {
    margin-top: 40px;
}
